# Assignment #1

# Setting up the workflow

## 0. Initial setup (50 points)

**Note**: You don't have to turn in anything here to show that the three exercises below were completed. Submitting your assignment via your private GitHub repository will show that they have been completed.

**0.1** Setup your Docker container

**0.2** Clone the course repository

**0.3** Setup your private repository to submit assignments

# Learning Python

## 1. Syntax (5 points)

**1.1** Print "Hello, World!"

In [1]:
print ("Hello, World!")

Hello, World!

**1.2** Comment out the text below.

In [2]:
# Running this text without commenting it out will give an error

## 2. Variables (5 points)

**2.1** Create a variable named course and assign the value ESDA to it. Print the variable.

In [3]:
course = "ESDA"
print(course)

ESDA

**2.2** Create a variable named data and assign the value 10 to it. Print the variable.

In [4]:
data = 10
print(data)

10

**2.3** Print the sum of 423 and 342, using two variables: a and b.

In [5]:
a = 423
b = 342
print(a + b)

765

**2.4** Define x to be 3 and y to be 10. Create a variable called z, assign x + y to it, and print the result.

In [6]:
x = 3
y = 10
z = x + y
print(z)

13

## 3. Strings (5 points)

**3.1** Use the len method to print the length of the string = "CEE-690-02".

In [7]:
len("CEE-690-02")

10

**3.2** Print the first character of the string = "ESDA".

In [8]:
print("ESDA"[0])

E

**3.3** Print the characters from position 2 to position 6 (not included) from the string "Big data".

In [9]:
print("Big data"[2:6])

g da

**3.4** Use the string's function strip() to remove the whitespace at the beginning and the end of the string " classroom ".

In [10]:
" classroom ".strip(' ')

'classroom'

**3.5** Convert the value of string = "classroom" to upper case.

In [11]:
"classroom".upper()

'CLASSROOM'

**3.6** Convert the value of string = "CLASSROOM" to lower case.

In [12]:
"CLASSROOM".lower()

'classroom'

## 4. Operators (5 points)

**4.1** Multiply 3 by 19, and print the result.

In [13]:
print(3 * 19)

57

**4.2** Divide 10 by 2, and print the result.

In [14]:
print(10 / 2)

5.0

**4.3** Replace the word OPR below with the correct operator below to determine if car is in the list vehicles

In [15]:
vehicles = ['car','truck','bus']
if 'car' in vehicles:
    print('car is in the list!')

car is in the list!

**4.4** Replace the word OPR below with the correct operator to check if 5 is not equal to 10.

In [16]:
if 5 != 10:
    print('not equal!')

not equal!

**4.5** Use the correct logical operator to check if at least one of the two statements is True.

In [17]:
if (5 == 10) or (4 == 4):
    print("At least one of the statements is true")

At least one of the statements is true

## 5. Lists (5 points)

**5.1** Print the first and last item in the vehicles list defined below.

In [18]:
vehicles = ['car','truck','bus']
print(vehicles[0], vehicles[-1])

car bus

**5.2** Change the value from "bus" to "motorcycle" in the vehicles list and print the result.

In [19]:
vehicles = ['car','truck','bus']
vehicles[-1] = 'motorcycle'
print(vehicles)

['car', 'truck', 'motorcycle']

**5.3** Use the append method to add "bicycle" to the vehicles list and print the result.

In [20]:
vehicles = ['car','truck','bus']
vehicles.append('bicycle')
print(vehicles)

['car', 'truck', 'bus', 'bicycle']

**5.4** Use the insert method to add "bicycle" as the second item in the vehicles list. Print the result.

In [21]:
vehicles = ['car','truck','bus']
vehicles.insert(1, 'bicycle')
print(vehicles)

['car', 'bicycle', 'truck', 'bus']

**5.5** Use the remove method to remove "bus" from the vehicles list. Print the result.

In [22]:
vehicles = ['car','truck','bus']
vehicles.remove('bus')
print(vehicles)

['car', 'truck']

## 6. Dictionaries (5 points)

**6.1** Print the value of the "name" key of the course dictionary defined below.

In [23]:
course= {
    "name":"Environmental Spatial Data Analysis",
    "id":"CEE690-02",
    "semester":"Fall19",
    "year":2019
}
print(course["name"])

Environmental Spatial Data Analysis

**6.2** Change the "year" value from 2019 to 2020 and print the revised dictionary.

In [24]:
course["year"] = 2020
print(course)

{'name': 'Environmental Spatial Data Analysis', 'id': 'CEE690-02', 'semester': 'Fall19', 'year': 2020}

**6.3** Add the key/value pair "grade" : "A" to the course dictionary. Print the revised dictionary.

In [25]:
course["grade"] = "A"
print(course)

{'name': 'Environmental Spatial Data Analysis', 'id': 'CEE690-02', 'semester': 'Fall19', 'year': 2020, 'grade': 'A'}

**6.4** Use the pop method to remove "semester" from the course dictionary. Print the revised dictionary.

In [26]:
course.pop("semester")
print(course)

{'name': 'Environmental Spatial Data Analysis', 'id': 'CEE690-02', 'year': 2020, 'grade': 'A'}

**6.5** Use the clear method to empty the course dictionary. Print the revised dictionary.

In [27]:
course.clear()
print(course)

{}

## 7. Conditionals (5 points)

**7.1** Set a = 43 and b = 10. Use an if statement to print "Yes, a is greater than b." if a is greater than b.

In [28]:
a = 43
b = 10
if a > b:
    print("Yes, a is greater than b.")

Yes, a is greater than b.

**7.2** Using the same values of a and b, use an if statement to print "No, a is not equal to b" if a is not equal to b.

In [29]:
a = 43
b = 10
if a != b:
    print("No, a is not equal to b")

No, a is not equal to b

**7.3** Using the same values of a and b, use an if/else statement to print "Yes" if a is equal to b, otherwise print "No".

In [30]:
a = 43
b = 10
if a == b:
    print("Yes")
else:
    print("No")

No

**7.4** Using the same values of a and b, use an if/elif/else statement to print "a is equal to b" if a is equal to b, print "a is greater than b" if a is greater than b, otherwise print "a is less than b".

In [31]:
a = 43
b = 10
if a == b:
    print("a is equal to b")
elif a > b:
    print("a is greater than b")
else:
    print("a is less than b")

a is greater than b

**7.5** Set make1 = "Toyota", make2 = "Mercedes", make3 = "Ford", and make4 = "Ford". Print "make1 and make2 or make3 and make4 are the same" if make1 is equal to make2, or make3 is equal to make4.

In [32]:
make1 = "Toyota"
make2 = "Mercedes"
make3 = "Ford"
make4 = "Ford"
if make1 == make2 or make3 == make4:
    print("make1 and make2 or make3 and make4 are the same")

make1 and make2 or make3 and make4 are the same

## 8. Loops (5 points)

**8.1** Print i as long as i is less than or equal to 9.

In [1]:
for i in range(0, 100):
    if i <= 9:
        print(i)

0
1
2
3
4
5
6
7
8
9

**8.2** Modify the loop defined above by adding a conditional statement to stop the loop if i is 5.

In [34]:
for i in range (0, 100):
    if i == 5:
        break
    else:
        print(i)

0
1
2
3
4

**8.3** Loop through and print the items in the vehicles list defined below.

In [35]:
vehicles = ["car","bus","motorcycle"]
for item in vehicles:
    print(item)

car
bus
motorcycle

**8.4** Modify the loop defined above such that when the item value is "bus", the loop is exited.

In [36]:
vehicles = ["car","bus","motorcycle"]
for item in vehicles:
    if item != "bus":
        print(item)
    else:
        break

car

**8.5** Use the range function to define a list of integers from 0 to 9. Then iterate and print those values.

In [37]:
intrange = list(range(0, 10))
for item in intrange:
    print(item)

0
1
2
3
4
5
6
7
8
9

## 9. Functions (10 points)

**9.1** Create and call a function called hello_world that prints "Hello, World!".

In [38]:
def hello_world():
    print("Hello, World!")
    
hello_world()

Hello, World!

**9.2** Create a function called many_hello_worlds that calls the hello_world function defined above n times. The parameter n should be passed into the function. Call the function many_hello_worlds with n = 3.

In [39]:
def hello_world():
    print("Hello, World!")

def many_hello_worlds(n):
    while n > 0:
        hello_world()
        n -= 1

many_hello_worlds(3)

Hello, World!
Hello, World!
Hello, World!

**9.3** Create and call a function that computes and prints the third (1) through the twelfth elements (89) of the Fibonacci sequence.

In [40]:
def fibonacci(n):
    fib = [0, 1]
    i = 2
    while i > 1:
        if i <= 21:
            fib.append(fib[i - 1] + fib[i - 2])
            i += 1
        else:
            break
    print(fib[n])

for n in range(2,12):
    fibonacci(n)

1
2
3
5
8
13
21
34
55
89